<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
    <link rel="stylesheet" type="text/css" href="/xvia/style.css" />
    <link href="/xvia-favicon.ico" rel="shortcut icon">
    <title><%= t 'layouts.application.title' %></title>
  </head>
  <body id="login">
      <section class="container">
        <section class="login-form">
          <form method="POST" action="j_security_check">
            <div>
              <img src="/xvia-logo.png" alt="" />
              <h4>Login to your private dashboard</h4>
            </div>
            <span><%= text_field_tag :j_username %></span>
            <span><%= password_field_tag :j_password %></span>
            <button type="submit" name="go" class="btn btn-lg btn-block btn-info">Entrar</button>
          </form>
        </section>
      </section>
  </body>
</html>
