# /etc/systemd/system/xroad-soap-proxy.service

[Unit]
Description=X-Road Soap Proxy
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/srv/{{ proxy_adapter_name }}
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target